.menu-button
    {
        border:1px solid #000;
        color:fff;
        display:inline-block;
        cursor:pointer;
    }

.hide-menu
{
   
      top:70px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hide-menu li {
    display: none;
    list-style-type: none;
    font-size:  18px;   
    border-top: 1px solid white;
    border-bottom: 1px solid white;
     padding-top:  15px;
     padding-bottom: 15px;
  
}
.hide-menu li a{
  text-decoration: none;
  color: #312b28;
  font-size:  18px ;
 
}

.hide-menu li a:hover{
    color: #fff;
    background-color: #e29664;
    display: block;  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: inherit;
    box-sizing: content-box;
}
.active-tab{
       color: #fff;
    background-color: #e29664;
    display: block;  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: inherit;
    box-sizing: content-box;
}

.show-menu  
{
     background-color:#ffe6d6;
    position: fixed;
    top:70px;
    left:-300px;
    z-index: 1;
    width: 300px;
    height: 100%;
    -webkit-transform: translate3d(300px,0,0);
    -moz-transform: translate3d(300px,0,0);
    -o-transform: translate3d(300px,0,0);
    -ms-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);      
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;

 } 
 .show-menu li{

  display:block;
 } 

 .fix-li{
 position: fixed;
 }

 .indent{
 
  text-indent: 50px;
  font-size: 18px !important;
 }
.indent-20{
  text-indent: 20px;
  font-size: 20px;
}

.center-menu{
 display: flex;
 justify-content: center; 
}