/*<<<<<<< HEAD

.item-title{
	font-size: 22px;
    text-align: center;
}
.item-desc{
	font-size: 18px;
}
.item-btn{
	 width: 100%;
}
.item-card{	
    border: 1px solid #a55e30;
    margin: 2px;
    border-radius: 1px;
}
=======
>>>>>>> 24402c29c29a76442a98f5d23275251c98e184b6
*/